@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5eaea;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

@font-face {
    font-family: "FiraCode";
    src: url("/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("/fonts/MerriweatherSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 1000;
    font-style: normal;
}
